/*
©2010 Humaan
www.humaan.com.au

Description : Reset Stylesheet

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	padding:2px;
}

p, ul, ol {
	margin:0;
	padding:0 0 1.25em 0;
}

ul, ol {
	padding:0 0 1.25em 2.5em;
}

blockquote {
	margin:1.25em;
	padding:1.25em 1.25em 0 1.25em;
}

sup {
	position:relative;
	bottom:0.3em;
	vertical-align:baseline;
}

sub {
	position:relative;
	bottom:-0.2em;
	vertical-align:baseline;
}

acronym, abbr {
	cursor:help;
	letter-spacing:1px;
	border-bottom:1px dashed;
}

label {
	cursor:pointer;
}

button {
	cursor: pointer;
	border: 0;
	outline: none;
}
